.sortable-fallback {
  display: table;
  position: absolute;
  color: #fff;
  cursor: default;

  td {
    padding: 0 5px;

    &.drag-handle {
      width: 28px;
      text-align: center;
      cursor: move;
      cursor: -webkit-grab;
    }

    svg {
      width: 18px;
      height: 18px;
      margin-top: 1px;
      fill: #fff;
      transform: translateY(4px);
    }

    img {
      width: 15px;
      height: 15px;
    }
  }
}
